<div class="container-fluid bg-info text-light p-5">
    <div class="container bg-dark p-5  text-center">
        <h1 class="display-6">Welcome to Search Engine of Programming Languages</h1>
        <hr>
        <p class="text-info p-3 fs-4">You can search any language by name, designer, type, combunation of type and designer. Also you can use negative searches!</p>
        <%= image_tag("home.jpg", class:"img-fluid")%>
    </div>
</div>
